<section id="benefits" class="benefits">
  <div class="container">
    <h2 class="benefits__title">ЧОМУ САМЕ МИ?</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__item-title">Команда профсіоналів</h3>
        <p class="benefits__text">
          Випічку готує дружня команда кондитерів, які є справжніми магами кондитерської
          майстерності.
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__item-title">Натуральні продукти</h3>
        <p class="benefits__text">
          Наша випічка є дуже смачною, тому що виготовлена із натуральних та якісних продуктів.
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__item-title">Швидке приготування та доставка</h3>
        <p class="benefits__text">
          Кондитерка готується смачно та швидко,тому ваш десерт буде у вас через малий термін.
        </p>
      </li>
    </ul>
  </div>
</section>
