<section id="callback" class="callback">
  <div class="container">
    <img src="../src/images/callback/callback-image1.jpg" alt="" class="callback__first-img" />
    <img src="../src/images/callback/callback-image2.jpg" alt="" class="callback__second-img" />
    <div class="callback__wrapper">
      <b class="callback__title">ЗАЛИШИЛИСЬ ПИТАННЯ?</b>
      <p class="callback__text">
        Заповнюйте форму та наш менеджер залетефонує вам, щоб з’ясувати усі питання, які вас
        цікавлять.
      </p>
      <form class="callback__form">
        <input type="text" class="callback__text-input" placeholder="Ваше ім’я" />
        <input type="tel" class="callback__phone-input" placeholder="Номер телефону" />
        <button type="submit" class="callback__button">Замовити дзвінок</button>
      </form>
    </div>
  </div>
</section>
