<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="#header" class="footer__logo">been <span class="footer__logo-item">cake</span></a>
      <ul class="footer__nav-list">
        <li class="footer__nav-item"><a href="#header" class="footer__nav-link">Головна</a></li>
        <li class="footer__nav-item"><a href="#about" class="footer__nav-link">Про нас</a></li>
        <li class="footer__nav-item"><a href="#menu" class="footer__nav-link">Асортимент</a></li>
        <li class="footer__nav-item"><a href="#new-menu" class="footer__nav-link">Новинки</a></li>
        <li class="footer__nav-item">
          <a href="#callback" class="footer__nav-link">Доставка та оплата</a>
        </li>
        <li class="footer__nav-item"><a href="#footer" class="footer__nav-link">Контакти</a></li>
      </ul>
      <ul class="footer__address">
        <p class="footer__address-text-title">Наша адреса:</p>
        <p class="footer__address-text">м.Львів, вул. Куліша 43</p>
        <p class="footer__schedule-title">Графік роботи:</p>
        <p class="footer__schedule">Пн-Нд: 8.00 - 20.00</p>
      </ul>
      <ul class="foooter__socials">
        <li class="footer__socials-list-item">
          <a href="tel:+380732134430" class="footer__socials-text">+38-073-213-4430</a>
        </li>
        <li class="footer__socials-list-item">
          <p class="footer__socials-text">Наші соц.мережі:</p>
        </li>
        <li class="footer__socials-list-item">
          <ul class="footer__socials-list">
            <li class="footer__socials-item">
              <a href="" class="footer__socials-link">
                <svg class="footer__socials-icon">
                  <use href="../src/images/sprite.svg#icon-inst"></use>
                </svg>
                been.cake</a
              >
            </li>
            <li class="footer__socials-item">
              <a href="" class="footer__socials-link">
                <svg class="footer__socials-icon">
                  <use href="../src/images/sprite.svg#icon-facebook"></use>
                </svg>
                been cake</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</footer>
