<section id="hero" class="hero">
  <div class="container">
    <div class="hero__main-wrapper">
      <div class="hero__wrapper">
        <p class="hero__pre-title">Кондитерська</p>
        <h1 class="hero__title">BEEN CAKE</h1>
        <p class="hero__text">
          Завжди свіжа випічка на буль-який смак. Створюємо солодощі тільки із натуральних та
          корисних продуктів.
        </p>
        <button class="hero__button">Асортимент</button>
      </div>
      <div class="hero__box"></div>
      <img src="../src/images/hero/hero-image.jpg" alt="" class="hero__image" />
    </div>
  </div>
</section>
