<section id="menu" class="menu">
  <div class="container">
    <div class="menu__wrapper">
      <h2 class="menu__title">АСОРТИМЕНТ</h2>
      <ul class="menu__list">
        <li class="menu__item"><a href="" class="menu__link">Чізкейки</a></li>
        <li class="menu__item"><a href="" class="menu__link">Капкейки</a></li>
        <li class="menu__item"><a href="" class="menu__link selected">Тарти</a></li>
        <li class="menu__item"><a href="" class="menu__link">Брауні</a></li>
      </ul>
    </div>
    <ul class="product__card-list">
      <li class="product__card-item">
        <img src="../src/images/menu/menu-image1.jpg" alt="" class="product__card-image" />
        <p class="product__card-title">Яблочний тарт</p>
        <p class="product__card-price">420 грн</p>
      </li>
      <li class="product__card-item">
        <img src="../src/images/menu/menu-image2.jpg" alt="" class="product__card-image" />
        <p class="product__card-title">Тарт з бізе</p>
        <p class="product__card-price">380 грн</p>
      </li>
      <li class="product__card-item">
        <img src="../src/images/menu/menu-image3.jpg" alt="" class="product__card-image" />
        <p class="product__card-title">Карамельний тарт</p>
        <p class="product__card-price">400 грн</p>
      </li>
      <li class="product__card-item">
        <img src="../src/images/menu/menu-image4.jpg" alt="" class="product__card-image" />
        <p class="product__card-title">Вишневий тарт</p>
        <p class="product__card-price">420 грн</p>
      </li>
      <li class="product__card-item">
        <img src="../src/images/menu/menu-image5.jpg" alt="" class="product__card-image" />
        <p class="product__card-title">Медовий тарт</p>
        <p class="product__card-price">350 грн</p>
      </li>
      <li class="product__card-item">
        <img src="../src/images/menu/menu-image6.jpg" alt="" class="product__card-image" />
        <p class="product__card-title">Шоколадний тарт</p>
        <p class="product__card-price">300 грн</p>
      </li>
      <li class="product__card-item">
        <img src="../src/images/menu/menu-image7.jpg" alt="" class="product__card-image" />
        <p class="product__card-title">Клубнічний тарт</p>
        <p class="product__card-price">230 грн</p>
      </li>
      <li class="product__card-item">
        <img src="../src/images/menu/menu-image8.jpg" alt="" class="product__card-image" />
        <p class="product__card-title">Набір тартів</p>
        <p class="product__card-price">600 грн</p>
      </li>
    </ul>
  </div>
</section>
