<section id="new-menu" class="new-menu">
  <div class="container">
    <div class="new-menu__wrapper">
      <h2 class="new-menu__title">НОВИНКИ</h2>
      <ul class="new-menu__list">
        <li class="new-menu__item"><a href="" class="new-menu__link">Чізкейки</a></li>
        <li class="new-menu__item"><a href="" class="new-menu__link">Капкейки</a></li>
        <li class="new-menu__item"><a href="" class="new-menu__link">Тарти</a></li>
        <li class="new-menu__item"><a href="" class="new-menu__link selected">Брауні</a></li>
      </ul>
    </div>
    <div class="new-product__wrapper">
      <div class="new-product__bg-box"></div>
      <div class="new-product__card-list">
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image1.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Класичний брауні</p>
          <p class="new-product__card-price">300 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image2.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Веганський брауні</p>
          <p class="new-product__card-price">370 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image3.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Горіховий брауні</p>
          <p class="new-product__card-price">210 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image4.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Ягідний брауні</p>
          <p class="new-product__card-price">350 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image5.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Холодний брауні</p>
          <p class="new-product__card-price">350 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image3.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Горіховий брауні</p>
          <p class="new-product__card-price">210 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image1.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Класичний брауні</p>
          <p class="new-product__card-price">300 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image4.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Веганський брауні</p>
          <p class="new-product__card-price">370 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image5.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Горіховий брауні</p>
          <p class="new-product__card-price">210 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image2.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Ягідний брауні</p>
          <p class="new-product__card-price">350 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image1.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Холодний брауні</p>
          <p class="new-product__card-price">350 грн</p>
        </div>
        <div class="new-product__card-item">
          <img
            src="../src/images/new-menu/new-menu-image5.jpg"
            alt=""
            class="new-product__card-image"
          />
          <p class="new-product__card-title">Горіховий брауні</p>
          <p class="new-product__card-price">210 грн</p>
        </div>
      </div>
    </div>
    <button class="new-menu__button">В асортимент</button>
  </div>
</section>
